body{
    background-color: rgb(6, 202, 202);
}
.heading{
    
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: relative;
    height: 500px;
    color: beige;
    width: 100%;
    
}
/*making responsive for small screens*/
@media only screen and (max-width:350px){
    .name{
        
        font-size: 30px !important;
        left: 20px !important;
        text-align: left !important;
        
    }
    .edu,.dec{
        font-size: 10px;
        left: 20px !important;
        text-align: left !important;
    }
}
.name{
    font-size: 55px;
    font-weight: 1000;
    width: auto;
    position: absolute;
    left: 20px;
    right: 20px;
    top: 100px;
    text-align: center;
}
.edu{
    font-size: 30px;
    font-weight: 1000;
    color: rgb(9, 9, 61);
    width: auto;
    position: absolute;
    left: 20px;
    right: 20px;
    top: 200px;
    text-align: center;
}
.dec{
    font-size: 15px;
    font-weight: 1000;
    color: rgb(9, 9, 61);
    width: auto;
    position: absolute;
    left: 20px;
    right: 20px;
    top: 300px;
    text-align: center;
}
.topnav{
    height: 30px;
    position: relative;
    
}
.topnav a{
    
    float: right;
    margin-left: 11px;
    
}
