body{
    font-family: 'Roboto', sans-serif;
    margin:0px;
    padding: 0px;
    background-color: rgb(241, 241, 241);
}




/* propic */

#propic img{
    
    height: 200pxpx;
    width: 200px;
    border-radius: 50%;
    
    box-shadow: 0 0 50px 20px #00000080;
}



.IntroContainer{
    
    background-image: linear-gradient(to bottom right,#05406b,#090013da);
    height: 500px;
    width: auto;
    margin: 0px;
    padding: 5%;
    padding-top: 200px;
    position: relative;
    overflow-x: hidden;
}
.IntroText{
    line-height: 1.5;
    color: rgba(255, 255, 255, 0.479);
    font-weight: bold;
    position: relative;
    top: 30px;
    text-shadow: 5px 4px 10px rgba(0, 0, 0, 0.671);
}
.IntroText a{
    text-decoration-line: underline;
    color: rgba(255, 255, 255, 0.493);
}
.IntroText a:hover{
    color: rgba(255, 255, 255, 0.699);
}
@media only screen and (min-height:500px){
.IntroContainer{
    height: 700px;
}
}
@media only screen and (max-width:600px){

    #name{
        font-size:50px !important;
    }
    #linkCardContainer{

        display: inline !important;
    }    
    .linkCards{
        display: block;
        width: auto !important;
        
    }


}
@media only screen and (max-width:306px){
    #name{
        font-size:30px !important;
    }
    .IntroText{
        font-size: 12px;
        top: 50px;
        max-width: 200px;
    }
    .IntroContainer{
        padding-top: 150px;
        height: 500px;
    }
    #propic img{
        width: 100px;
        height: 100px;
    }
    #linkCardContainer{

        display: block !important;
    }
    .linkCards{
        width: auto !important;
        
    }



}
#name{
    display: inline;
    font-size: 100px;
    color: rgba(255, 255, 255, 0.904);
    position: relative;
    top: 30px;
    font-weight: bolder;
    text-shadow: 5px 4px 20px rgba(0, 0, 0, 0.473);

}








/* link cards section */
#linkCardContainer{
    display: flex;

}
.linkCards{
    position: relative;
    top: 0px;
    padding: 10px;
    box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.274);
    width: 50%;
    height: 120px;
    background-color: rgb(227, 225, 225);
    margin: 10px;
    /* float: left; */
}
.linkCards:hover{
    box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.521);
}
.linkCards p{
    font-size: 15px;
    margin: 0px;
    padding-top: 5px;
    color: rgba(0, 0, 0, 0.534);
    height: 55px;
    
}
.linkCards h2{
    margin: 0px;
    color: rgba(0, 0, 0, 0.774);
    
}
.linkCards button{
    background-color: rgba(10, 10, 160, 0.747);
    color: rgba(255, 255, 255, 0.664);
    border: 0;
    height: 25px;
    width: 70px;
    font-size: 10px;
    text-align: center;
    /* margin-top: 5px; */
    position: relative;
    top: 5px;
    border-radius: 3px;
    box-shadow: 3px 3px 8px 3px rgba(0, 0, 0, 0.274);

}
.linkCards button:hover{
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.541);
}

.Para{

    display: block;
    padding: 10px;
    box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.274);
    
    height: auto;
    background-color: rgb(227, 225, 225);
    margin: 10px;
}
h2{
    margin-bottom: 10px;
    color: rgba(0, 0, 0, 0.774);
}
p{
    font-size: 15px;
    margin: 0px;
    padding-top: 5px;
    color: rgba(0, 0, 0, 0.63);
    
}
