body{
    font-family: 'Roboto', sans-serif;
    background-image: linear-gradient(150deg,rgb(11, 19, 36),rgb(22, 77, 128),rgb(13, 6, 36)) !important;
}

/* propic */

#propic img{
    
    height: 200pxpx;
    width: 200px;
    border-radius: 50%;
    
    box-shadow: 0 0 50px 20px #00000080;
}



#IntroContainer{
    
    background-image: linear-gradient(150deg,#05406b,#110024da);
    height: 100vh;
    width: auto;
    margin: 0px;
    padding: 5%;
    overflow-x: hidden;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
}
.text {
	text-transform: uppercase;
	background: linear-gradient(to right, rgb(195, 212, 218) 0%, #b5aed1 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	/* font-size: 20vw; */
  font-family: 'Poppins', sans-serif;
  font-weight: bolder;
  font-size: 45px;
    }

.introText{
    color: rgba(255, 255, 255, 0.486);
    text-shadow: 2px 2px 5px black;
    font-weight: bolder;
    font-size: 15px;
}
.linkText{
    
    font-size: 20px;
    color: rgba(255, 255, 255, 0.705);
    font-weight: bold;
    line-height: 30px;
}

@media screen and (min-width: 601px) {
    .text {
      font-size: 80px;
    }
    .introText{
        font-size: 18px;
    }

  }
  
  @media screen and (max-width: 600px) {
    .text {
      font-size: 45px;
    }
  }
   


.hr{
  width: 30px;
  border-top: 2px solid white;
  
}
p{
  color: rgba(224, 235, 255, 0.692);
  font-weight: lighter;
  font-size: 15px;
}
